/* body{
    background-color: green;
} */

ul, .nav-brand {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC069;
}

li, .nav-brand {
    float: left;
}

.nav-link, .nav-brand {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}

.nav-brand {
    /* float: left; */
    color: black;
    /* padding: 12px 14px; */
    /* size: 30px; */
}

.nav-right {
    float: right;
}